# Virtual environment
env/
venv/
env/
# Python cache
__pycache__/
*.pyc
*.pyo

# Flask instance folder (often contains db + config)
instance/

# SQLite database files
*.db
*.sqlite
*.sqlite3

# Logs
*.log

website/static/uploads/