<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{url_for('static', filename = 'CSS/style.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='uploads/mmubuzz.png') }}">

        



        <title>{% block title %} {% endblock %}</title>
    </head>
    <body class="d-flex flex-column min-vh-100">
         <nav class="navbar navbar-expand-lg navbar-dark cm-nav ">
                {% if user.is_authenticated %}
                <a class="nav-item nav-link" id="home" href="/"><img src="{{ url_for('static', filename='uploads/mmubuzz.png') }}" alt="MMUBUZZ"  width="80" height="50" class="d-inline-block align-text-top me-2"></a>

                {% else%}
                <img src="{{ url_for('static', filename='uploads/mmubuzz.png') }}" alt="MMUBUZZ"  width="80" height="50" class="d-inline-block align-text-top me-2">
                {% endif %}


            <div class="collapse navbar-collapse" id="navbar">
            <!-- this will be shown on the left side on the nav bar -->
                <div class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                    {% else%}
                    <a class="nav-item nav-link" id="login" href="/login">Login</a>
                    <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign up</a>
                    {% endif %}
                    {% if current_user.Role == "moderator" %}
                    <a class="nav-item nav-link" id="home" href="/mod-page">MOD PAGE</a>
                    {% endif %}
                </div>
            <!-- this will be shown on the right side on the nav bar -->
                <div class="navbar-nav ms-auto mb-2 mb-lg-0">
                {%if user.is_authenticated%}
                <a href="{{ url_for('post.CreatePost') }}" class="btn btn-outline-light">
                    <i class="bi bi-plus-lg"></i>POST
                </a>
                <div class="px-2"></div>
                <a href="/create_community" class="btn btn-outline-light">
                    <i class="bi bi-plus-lg"></i>CREATE COMMUNITY!
                </a>
                <div class="px-2"></div>
                <a href="/Profile" class="btn btn-outline-light">Profile</a>
                {% endif %}
                </div>
            </div>
        </nav>
        <nav>
            
        </nav>
        <div class="d-flex flex-grow-1">
            <nav class="d-none d-lg-flex flex-column flex-shrink-0 p-3 cm-nav" style="width: 160px; height: 100vh;">
            <ul class="nav nav-pills flex-column mb-auto">
            </ul>
            </nav>
        <!-- Main Content -->
            <main class="flex-grow-1 p-4 overflow-auto scroll-hidden" style="max-height: 90vh; padding-bottom: 80px;">        
            {% with messages = get_flashed_messages(with_categories=true) %} 
                {% if messages %} 
                    {% for category, message in messages %} 
                        {% if category == 'error' %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% else %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %} 
                    {% endfor %}
                {% endif %} 
            {% endwith %}
                <div class="container">
                    {% block content %}
                    {% endblock %}
                </div>
            </main>

            <!-- Sidebar on the Right -->
            <nav class="d-none d-lg-flex flex-column flex-shrink-0 p-3 cm-nav" style="width: 280px; height: 100vh;">
            <ul class="nav nav-pills flex-column mb-auto">
                {% block sidenav %}

                {% endblock %}
                
            </ul>
            </nav>
            
            <nav class="navbar fixed-bottom d-flex d-lg-none justify-content-around p-2 cm-nav">
                {% if user.is_authenticated %}
                <a href="{{ url_for('post.CreatePost') }}" class="btn btn-outline-light">
                    <i class="bi bi-plus-lg"></i>POST
                </a>
                                <a href="/create_community" class="btn btn-outline-light">
                    <i class="bi bi-plus-lg"></i>CREATE COMMUNITY!
                </a>
                <a href="/Profile" class="btn btn-outline-light">Profile</a>
                {% else %}
                <a class="btn btn-outline-light" id="login" href="/login">Login</a>
                <a class="btn btn-outline-light" id="signUp" href="/sign-up">Sign up</a>
                {% endif %}
                {% block bottom %}
                {% endblock %}
            </nav>
        </div>


    </body>

</html>