{% extends "base.html" %} 
{% block title %} My Bookmarks {% endblock %}

{% block content %}
<div>
  <h1 class="mb-4">My Bookmarks</h1>
  <div>
  {% for post in posts %}
    <div class="cm-card">
      <a href="{{ url_for('post.ViewPost', post_id=post.id) }}" class="text-decoration-none text-dark">
        <div class="p-3 cm-card">
          <h5 class="mb-0">{{ post.title }}
            {% if post.flair %}
              <span class="badge" data-flair-color="{{ post.flair.color }}">{{ post.flair.name }}</span>
            {% endif %}
          </h5>
          <p class="card-text">
            <small class="text-body-secondary">
              By <a href="{{ url_for('Profile.show_user_profile', user_id=post.user_id) }}" class="fw-bold">{{ post.FirstName }}</a> in <a href="{{ url_for('community.view_community', community_id=post.community.id) }}" class="fw-bold">{{ post.community.name }}</a>, At {{ post.date.strftime("%Y-%m-%d %H:%M:%S") }}
            </small></p>
          <a href="{{ url_for('post.ViewPost', post_id=post.id) }}" class="text-decoration-none text-dark">
          <h6 class="card-text">{{ post.content }}</h6>
          {% if post.images %}
            <img src="{{ post.images[0].name }}" alt="Post image" class="zoomable-image" style="max-width: 300px; height: auto;">
          {% endif %}
        </div>
      </a>
    </div>
    <div class="pt-4"></div>
  {% else %}
    <p>You haven't bookmarked any posts yet.</p>
  {% endfor %}
  </div>
</div>
{% endblock %}