{% extends "base.html" %} 
{% block title %} Create Post {% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    <h3 align="center">Create a Post</h3>
    <div class="form-group">
    <label for="title">Title</label>
    <input 
        type="text"
        class="form-control"
        id="title"
        name="title"
        placeholder="Enter title"
        required
    />
    </div>
    <div class="form-group">
    <label for="Content">Content</label>
    <textarea  
        class="form-control"
        id="content"
        name="content"
        rows="4"
        placeholder="Content (only text for now)"
        required
    ></textarea>
    </div>
    <div class="form-group">
    {% if community %}
        <label for="community_id">Community name: {{community.name}}</label>
        <input type="hidden" name="community_id" value="{{community.id}}">
    {% else %}
        <label for="community_id">Select Community:</label>
        <select class="form-control" id="community_id" name="community_id" required>
            <option value="">Choose a community...</option>
            {% for comm in communities %}
                <option value="{{comm.id}}">{{comm.name}}</option>
            {% endfor %}
        </select>
    {% endif %}
    </div>
    
    {% if flairs %}
    <div class="form-group">
        <label for="flair_id">Select Flair (Optional):</label>
        <select class="form-control" id="flair_id" name="flair_id">
            <option value="">No flair</option>
            {% for flair in flairs %}
                <option value="{{flair.id}}">{{flair.name}}</option>
            {% endfor %}
        </select>
    </div>
    {% endif %}
    <br/>
    <div class="form-group">
        <input type="file" name="PIC">
    </div>
    <div class = "pt-4"></div>
    <button type="submit" class="btn btn-outline-success btn-lg">POST!</button>
</form>
{% endblock %}


