{% extends "base.html" %} 
{% block title %} delete_account {% endblock %}

{% block content %} 
<h1 align="center">ACCOUNT DELETION PAGE</h1>
<form  method="post">
    <div class="form-group">
    <label for="MMU-email">Enter password</label>
    <input 
        type="Password"
        class="form-control"
        id="ver-password"
        name="ver-password"
        placeholder="Enter current password"
        required
    />
    </div>
    <div class="pt-3">
        <button type="submit" class="btn btn-danger">
            Confirm Account Deletion
        </button>
    </div>

</form>

{% endblock %} 