{% extends "base.html" %} 
{% block title %} Home {% endblock %}

{% block content %}
<div>





  <h1 class = "mb-4">Latest Post</h1>
  <div >
  {% for post in posts %}
    <div class="cm-card">
      <a href="{{ url_for('post.ViewPost', post_id=post.id) }}" class="text-decoration-none text-dark">
        <div class="p-3 cm-card h-100 w-100 shadow-sm">
          <h5 class="mb-0 text" style="word-wrap: break-word; overflow-wrap: break-word;">
              {{ post.title }}
          </h5>
          <small class="text-body-secondary  d-block" style="word-wrap: break-word; overflow-wrap: break-word;"><p>By
              <a href="{{ url_for('Profile.show_user_profile', user_id=post.user_id) }}" class="fw-bold"> {{ post.FirstName }}</a> 
              in <a href="{{ url_for('community.view_community', community_id=post.community.id) }}" class="fw-bold">{{ post.community.name }}</a>, 
              At {{ post.date.strftime("%Y-%m-%d %H:%M:%S") }}
          </p></small>
          <a href="{{ url_for('post.ViewPost', post_id=post.id) }}" class="text-decoration-none text-dark">
          <h6 class="card-text">{{ post.content }}</h6>
          {% if post.images %}
            <img src="{{ post.images[0].name }}" alt="Post image" class="img-fluid rounded" width="300">
          {% endif %}
          {% if post.flair %}
            <span class="badge ms-2" style="background-color: {{ post.flair.color }}">
          {{ post.flair.name }}
            </span>
          {% endif %}
        </div>
      </a>
    </div>
    </a>
    <div class="pt-4"></div>
  {% else %}
        <p>No posts yet. Be the first to           
            <a href="{{ url_for('post.CreatePost') }}" class="btn btn-outline-info">
                    Create One !
                </a></p>
  {% endfor %}
  </div>

</div>
{% endblock %}

{% block sidenav %}
<h2>JOIN NOW !!</h2>

  {% for community in communities %}
    <a href="{{ url_for('community.view_community', community_id=community.id) }}"
    class="btn btn-success ">
    {{ community.name }}
  </a> - {{ community.description }}
    
    <div class="pt-4"></div>
  {% else %}
    <p>community available.</p>
  {% endfor %}

{% endblock %}


