{% extends "base.html" %} 
{% block title %} Home {% endblock %}

{% block content %}

  <h2>Available Community:</h2>
<ul>
  {% for community in communities %}
    <li>
      <a href="{{ url_for('community.view_community', community_id=community.id) }}"
   class="btn btn-dark">
   {{ community.name }}
  </a> - {{ community.description }}
    </li>
  {% else %}
    <li>No community available.</li>
  {% endfor %}
</ul>



  <h1 class = "mb-4">Latest Post</h1>
  <div class="overflow-auto" style="max-height: 70vh;">
  {% for post in posts %}
  <a href="{{ url_for('post.ViewPost', post_id=post.id) }}" class="text-decoration-none text-dark">
    <div class="card">
    <div class="p-3 border rounded bg-light shadow-sm">
      <h5 class="mb-0 ">{{post.title}}</h5>
      <p class="card-text"><small class="text-body-secondary">By <a href="{{ url_for('Profile.show_user_profile', user_id=post.user_id) }}">{{post.FirstName}}</a> ,At {{post.date}}</small></p>
      <h6 class="card-text ">{{post.content}}</h6>
      {% if post.images %}
        <img src="{{ post.images[0].name }}" alt="Post image" width="300">
      {% endif %}
    </div>
    </div>
    <div class = "pt-4"></div>
  </a>
  {% else %}
         <p>No posts yet. Be the first to           
            <a href="/Create_Post" class="btn btn-outline-info">
                    Create One !
                </a></p>
  {% endfor %}
  </div>





{% endblock %}






