{% extends "base.html" %} 
{% block title %} Profile  {% endblock %}

{% block content %} 
    <h1 align="center">Your Profile</h1>
    <div class="pt-3"></div>
    <h3><b>ID:</b> {{ current_user.id }}</h3>
    <h3><b>Name:</b> {{ current_user.FirstName }}</h3>
    <h3><b>Email:</b> {{ current_user.email }}</h3>
    <h3><b>Role:</b> {{ current_user.Role }}</h3>
    <h3><b>Vote's Left:</b> {{current_user.votes_remaining}}</h3>
    <div class="pt-5"></div>

    <a href="/logout">
        <button type="submit" class="btn btn-outline-light btn-sm">
            Logout
        </button>
    </a>
    <a href="{{ url_for('Profile.change_password', user_id=current_user.id) }}">
        <button type="submit" class="btn btn-outline-warning btn-sm">
            Change Password
        </button>
    </a>
    <a href="{{ url_for('Profile.del_acc') }}" >
        <button type="submit" class="btn btn-outline-danger btn-sm"
                onclick="return confirm('Are you sure you want to delete your account? This cannot be undone.')">
            ACCOUNT DELETION
        </button>
    </a>



    <h1 class = "mb-4">Your Posts</h1>
    <div class="overflow-auto" style="max-height: 50vh;">
    {% for post in posts %}
  <a href="{{ url_for('post.ViewPost', post_id=post.id) }}" class="text-decoration-none text-dark">
    <div class="card">
    <div class="p-3 border rounded bg-light shadow-sm">
      <h5 class="mb-0 ">{{post.title}}</h5>
      <p class="card-text"><small class="text-body-secondary">By {{post.FirstName}} ,At {{post.date}}</small></p>
      <h6 class="card-text ">{{post.content}}</h6>
      {% if post.images %}
        <img src="{{ post.images[0].name }}" alt="Post image" width="300">
      {% endif %}
    </div>
    </div>
    <div class = "pt-4"></div>
  </a>
  {% else %}
         <p>No posts yet. Be the first to           
            <a href="{{ url_for('post.CreatePost') }}" class="btn btn-outline-info">
                    Create One !
                </a></p>
  {% endfor %}
    </div>
{% endblock %}
{% block sidenav %}
<H3>Send feedback or any issues here!: </H3>
<a href="{{ url_for('modPage.submit_feedback') }}" class="btn btn-outline-info">
    Feedback/Issues</a>

{% endblock %}

{% block bottom %}
<a href="{{ url_for('modPage.submit_feedback') }}" class="btn btn-outline-info">
    Feedback/Issues</a>
{% endblock %}