{% extends "base.html" %} 
{% block title %} Communities {% endblock %}

{% block content %}
<div>




  <h1 class="mb-4">Popular Communities</h1>
  <div class="row">
    {% for community in communities %}
      <div class="col-md-4 mb-3">
        <div class="card p-3 shadow-sm h-100">
          <h5 class="card-title">{{ community.name }}</h5>
          <p class="card-text">{{ community.description or "No description yet." }}</p>
          <a href="{{ url_for('community.view_community', community_id=community.id) }}" 
              class="btn btn-primary">Visit</a>
        </div>
      </div>
    {% else %}
      <p>No communities available yet.</p>
    {% endfor %}
    <H3>CREATE YOUR COMMUNITY : <a href="/create_community" class="btn btn-outline-light"> <i class="bi bi-plus-lg"></i>CREATE NOW! </a></H3>
  </div>
  <div class="pt-4"></div>
</div>


  </div>



  
</div>
{% endblock %}