{% extends "base.html" %} 
{% block title %} report_post  {% endblock %}



{% block content %} 
<div class="overflow-auto scroll-hidden " style="height: 100vh;">


    <h1  align="center"> Report Post</h1>
    




        
        <div class="col-md-6">
            <h3>Report:</h3>
            {% for post in reports %}
                <div class="cm-card">
                    <div class="p-3 cm-card">
                        <p class="card-text">
                            <small class="text-body-secondary">
                                By <a href="{{ url_for('Profile.show_user_profile', user_id=post.user_id) }}" class="fw-bold">{{ post.FirstName }}</a>, At {{ post.date.strftime("%Y-%m-%d %H:%M:%S") }}
                            </small>
                        </p>
                        <h6 class="card-text">{{ post.reasons }}</h6>



                        <form action="{{ url_for('community.reject_report', community_id=community.id, post_id=post.id) }}" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-outline-success">Report rejected</button>
                        </form>
                        <a href="{{ url_for('post.ViewPost', post_id=post.id) }}" class="btn btn-outline-primary">View Post</a>
                        <a href="{{ url_for('post.delete', post_id=post.id) }}" >
                            <button type="submit" class="btn btn-outline-danger"
                                onclick="return confirm('Are you sure you want to delete this post ? This cannot be undone.')">
                                Approve report!
                            </button>
                        </a>
                    </div>
                </div>
                <div class="pt-4"></div>
            {% else %}
                <p>No reports available.</p>
            {% endfor %}

            
        </div>
        
    </div>
</div>
{% endblock %}