{% extends "base.html" %} 
{% block title %} {{post.title}} {% endblock %}

{% block content %}

    <h2 class="mb-0">{{post.title}}</h2>
    <div class="cm-card">    
        <p class="card-text "><small class="text-body-secondary">By <a href="{{ url_for('Profile.show_user_profile', user_id=post.user_id) }}">{{post.FirstName}}</a>, At {{post.date.strftime("%Y-%m-%d")}}</small></p>

        <div class="cm-card">
            <h3 class="card-text text-wrap">{{post.content}}</h3>
            <div class="cm-card">
                {% if img %}
                    <img src="{{ img.name }}" alt="Post image" width="300">
                {% endif %}
            </div>
        </div>
        <div class=" card-body d-flex align-items-center justify-content-between cm-card">
            <div class="btn-group" role="group" aria-label="Basic  example">
                <a href="{{ url_for('post.upvote' , post_id = post.id)}}">
                    <button type="button" class="btn btn-outline-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                    <path d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0"/>
                    
                    </svg></button> 
                </a>
                <a href="{{ url_for('post.downvote' , post_id = post.id)}}">
                    <button type="button" class="btn btn-outline-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0"/>
                    </svg></button>
                </a>
                <button type="button" class="btn btn-dark" disabled>{{ post.vote }}</button>



                <button  type="button" 
                    class="btn btn-outline-dark" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#commentBox" 
                    aria-expanded="false" 
                    aria-controls="commentBox"> comment
                </button>

            </div>
            {% if current_user.Role == "moderator" %}
            <a href="{{ url_for('post.delete', post_id=post.id) }}" >
                <button type="submit" class="btn btn-outline-danger"
                        onclick="return confirm('Are you sure you want to delete this post ? This cannot be undone.')">
                        DELETE POST!
                </button>
            </a>
            {%endif %}
            
            
        </div>
    </div>
    
    <div class="pt-4"></div>
    <div class="collapse cm-card " id="commentBox">
        <div class="cm-card ">
            <form method="POST" action="{{ url_for('post.comment', post_id=post.id) }}">
                <textarea class="form-control mb-2" id="comment" name="comment" rows="3" placeholder="Write your comment..."></textarea>
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </div>
    </div>
    
    <div class="pt-4"></div>
    <div class="cm-card">
        <h2 class="mb-1">Comments</h2>
        {% for comment in comments%}
            <div class = "cm-card">
                <p class="card-text"><small class="text-body-secondary">By <a href="{{ url_for('Profile.show_user_profile', user_id=comment.user.id) }}">{{comment.user.FirstName}}</a>, At {{comment.date.strftime("%Y-%m-%d %H:%M:%S")}}</small></p>
                <h6 class="card-text ">{{comment.content}}</h6>
            
            {% if current_user.Role == "moderator" %}
            <a href="{{ url_for('post.delete_comment', comment_id=comment.id) }}" >
                <button type="submit" class="btn btn-outline-danger"
                        onclick="return confirm('Are you sure you want to delete this comment ? This cannot be undone.')">
                        DELETE COMMENT!
                </button>
            </a>
            {%endif %}
            </div>
        {%endfor%}
    </div>
{% endblock %}